

<body class="recipes-body">
<div class="table-title">
    <label>{{model.disaplyName}}</label>
    <div><input ng-model="search"  type="text"  maxlength="255" placeholder="חפש מתכון..."></div>
</div>

<table class="table-fill">
  <thead>
    <tr >
        <th class="text-right">שם המתכון</th>
        <th class="text-right">מכין</th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <tr ng-repeat="x in model.recipes | filter:search">
        <td ng-click="events.openRecipe(x.id)" class="text-right">{{x.name}}</td>
        <td class="text-right">{{x.madeby}}</td>
    </tr>
</tbody>
</table>


  </body>
