h2.text-header{
    text-align: center;
    font-weight: bold;
}
a {
  font-size: 11px;
  color: #0091CE;
  text-decoration: none;
  font-weight: 500;
}

ol, ul {
  list-style: none;
}

ul.category-list{
  display: block;
  float: left;
  width: 100%;
}

ul.category-list li {
  display: block;
  float: left;
  width: 139px;
  height: 100px;
  margin: 0 10px;
  overflow: hidden;
  background-position: center;
  background-repeat: space;
  background-size: cover;
}

ul.category-list li>a {
  display: block;
  width: 80px;
  height: 86px;
  text-align: center;
}

ul.category-list li img {
  width: 134px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}

ul.category-list li>span {
  float: left;
  width: 140px;
  text-align: center;
  margin-top: -22px;
  font-size: 20px;
  font-weight: bold;
}
